<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
            color: #262626;
            font-style: normal;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
        }

        h1, h2 {
            font-weight: 600;
            page-break-after: avoid;
        }

        h1 {
            font-size: 32px;
            line-height: 40px;
        }

        h2 {
            font-size: 20px;
            line-height: 20px;

        }

        .text--bold {
            font-weight: bold;
        }

    </style>

    <title> Registrering av mer oppfølging </title>
</head>

<body style="page-break-inside: avoid;">
<h1>Sykepengene dine tar snart slutt</h1>

{{#if brevdata.maxdato}}
        <div style="border-style: solid; padding-left: 16px; padding-right: 16px;">
          <div>
            <div style="float: right; margin: 16px;">
              <img alt="" src="{{ image "ChevronUp.png" }}"/>
            </div>
            <div>
              <h2>Beregnet slutt på sykepenger</h2>
    {{#if brevdata.utbetaltTom }}
              <p>Din maksdato er beregnet til å være {{ brevdata.maxdato }}. Åpne kortet for å lese mer.</p>
    {{else}}
              <p>Sist beregnede maksdato er {{ brevdata.maxdato }}. Åpne kortet for å lese mer.</p>
    {{/if}}
            </div>
          </div>
          <hr />
          <p>Du kan maksimalt få sykepenger fra Nav i 52 uker. Grensen er den samme enten du er helt eller delvis sykmeldt.
              Den siste datoen du kan få sykepenger kalles maksdato. Din maksdato ble sist oppdatert {{ brevdata.utbetaltTom }}.
              Maksdatoen gjelder fortsatt hvis du har vært sammenhengende sykmeldt og mottatt sykepenger siden da.
              Den vil forskyve seg til en senere dato hvis du har perioder etter {{ brevdata.utbetaltTom }} der du ikke mottar sykepenger.
              Det kan skje hvis du er frisk i perioder eller hvis du tar ferie.</p>
        </div>
{{else}}
    <div style="border-style: solid; padding-left: 16px">
        <h2>Beklager, teknisk feil</h2>
        <p>På grunn av feil i systemene våre får vi ikke vist deg beregnet siste dag med sykepenger.
            <br/>Vennligst prøv igjen litt senere.
        </p>

        <p>Kontakt teknisk brukerstøtte dersom problemene vedvarer.</p>
    </div>
{{/if}}

<p>Det er viktig at du tar stilling til din økonomiske situasjon i god tid før sykepengene tar slutt.</p>

<p>Vi ber deg svare på to spørsmål, slik at vi best mulig kan gi deg informasjon som er relevant for deg. Du får også muligheten til å be om oppfølging fra en veileder.</p>

<span style="border-style: solid; border-radius: 4px; padding: 8px; background-color: rgb(0, 103, 197); color: white">Gå videre</span>


</body>
</html>
