<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
            color: #262626;
            font-style: normal;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
        }

        h1, h2 {
            font-weight: 600;
            page-break-after: avoid;
        }

        h1 {
            font-size: 32px;
            line-height: 40px;
        }

        h2 {
            font-size: 20px;
            line-height: 20px;

        }

        .text--bold {
            font-weight: bold;
        }

        .text--underline {
            text-decoration: underline;
            color: mediumblue;
        }

    </style>

    <title> Snart slutt på sykepenger </title>
</head>

<body style="page-break-inside: avoid;">
<div style="border-style: solid; border-radius: 4px; padding: 10px 24px; background-color: rgb(204, 241, 214)">
    Takk, svarene dine er sendt til NAV.
</div>
{{#if brevdata.behovForOppfolging}}
    <h1>Vi tar kontakt med deg</h1>
    <p>
        En veileder vil ta kontakt med deg på nav.no eller telefon.
    </p>
{{else}}
    <h1>Det kan hende du hører fra oss</h1>
    <p>
        Veilederen din vil vurdere om det kan være lurt at dere snakker sammen likevel. I så fall blir du kontaktet på
        nav.no eller telefon.
    </p>
{{/if}}

<h2>Hvis du fortsatt er for syk til å jobbe</h2>
<p>
    Hvis du ikke er frisk nok til å gå tilbake til jobb slik som før, kan det være riktig å søke om
    <span class="text--underline">arbeidsavklaringspenger (AAP)</span>, eller en annen økonomisk støtte.
</p>
<p>
    <span class="text--bold">Du må selv søke om AAP eller annen økonomisk støtte.</span> Dette skjer ikke automatisk.
</p>
<p> Du må være forberedt på å gå ned i inntekt når sykepengene tar slutt. Dette er fordi våre andre støtteordninger
    ikke gir like mye utbetalt som sykepenger. Husk at du også kan ha rettigheter hos forsikringsselskapet eller
    pensjonskassen din.</p>
<p>
    Veileder kan hjelpe deg med å finne ut hvilken økonomisk støtte som kan være aktuelt for deg, og med
    søkeprosessen.</p>

<div style="border-style: solid; border-radius: 4px; padding: 10px 24px; margin-bottom: 24px; background-color: rgb(216, 249, 255)">
    <span class="text--bold">Saksbehandlingstiden på AAP-søknader er omtrent til 15 uker.</span><br/>
    Søk tidlig nok slik at du sikrer at du har inntekt etter at sykepengene tar slutt.
</div>

<span style="border-style: solid; border-radius: 4px; padding: 8px; background-color: rgb(0, 103, 197); color: white">Gå til søknaden om AAP</span>

<hr style="color: lightgrey; margin-top: 24px"/>
<h2>
    <img alt="" src="{{ image "ChevronUp.png" }}"/> Hvis du trenger tilrettelegging for å stå i jobben du har
</h2>
<p>Arbeidsgiveren din skal, så langt det er mulig, tilpasse arbeidsplassen og oppgavene dine slik at du kan jobbe.</p>
<p>Det er ditt ansvar å bidra til å finne løsninger slik at du kan jobbe.</p>
<p><span class="text--bold">Snakk med lederen din om hvilke muligheter som finnes.</span></p>

<hr style="color: lightgrey"/>
<h2>
    <img alt="" src="{{ image "ChevronUp.png" }}"/> Hvis du skal jobbe redusert
</h2>
<p>Hvis du skal jobbe redusert fordi du har en sykdom eller skade, kan det hende at du har rett på
    <span class="text--underline">arbeidsavklaringspenger (AAP)</span>, eller en annen økonomisk støtte.</p>
<p>Les mer om <span class="text--underline">aktuelle pengestøtter</span>.</p>
<p>Du kan også ta kontakt med NAV på telefon 55 55 33 33 for å få informasjon om hvilken økonomisk støtte som kan være
    aktuell for deg hvis du får et inntektstap.</p>

<hr style="color: lightgrey"/>
<h2>
    <img alt="" src="{{ image "ChevronUp.png" }}"/> Hvis du skal bytte jobb
</h2>
<p>Av og til fungerer man bedre i en annen jobb enn den man er sykmeldt fra.</p>
<ul>
    <li> Er det vanskelig for deg å utføre oppgavene du hadde før du ble syk?</li>
    <li> Er det andre forhold hos arbeidsgiveren din som gjør det vanskelig for deg å fungere i jobben?</li>
</ul>
<p>
    {{#if brevdata.daysUntilMaxDate}}
        Per {{ brevdata.sentDate }} har du {{ brevdata.daysUntilMaxDate }} dager med sykepenger igjen.
    {{else}}
        Det nærmer seg slutten på sykepengene dine.
    {{/if}}
    <span class="text--bold">Det er derfor lurt å tenke på jobbytte allerede nå.</span> Veilederen kan hjelpe deg med
    dette.
</p>
<p> Du kan finne alle utlyste stillinger i landet på <span class="text--underline">arbeidsplassen.nav.no</span>.</p>

<hr style="color: lightgrey; margin-top: 24px"/>

{{#if brevdata.behovForOppfolging}}
{{else}}
    <h2>Hvis situasjonen din endrer seg </h2>
    <p>Du kan når som helst ta kontakt med oss på tlf. 55 55 33 33 eller <a href='https://www.nav.no/kontaktoss#skriv-til-oss'>skriv til oss her på nav.no</a> (åpner i en ny fane). Har du en aktivitetsplan bruker du «dialog med veileder» der for å snakke med veilederen din.</p>
{{/if}}

<h2>Nyttige lenker </h2>
<p><span class="text--underline">Har vært syk eller skadet lenge</span></p>
<p><span class="text--underline">Arbeidsavklaringspenger (AAP)</span></p>
<p><span class="text--underline">Kompetansetiltak for sykmeldte</span></p>
<p><span class="text--underline">Friskmelding til arbeidsformidling</span></p>

</body>
</html>
