<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        @page {
            margin: 46px;
        }

        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
            color: #3E3832;
            font-style: normal;
        }

        h1, h2 {
            font-weight: 500;
            page-break-after: avoid;
        }

        h1 {
            font-size: 24px;
            line-height: 28px;
        }

        h2 {
            border-bottom: 2px solid #99C2E8;
            font-size: 20px;
            line-height: 25px;
            margin-top: 48px;
        }

        h3 {
            margin-bottom: 0px;
            font-size: 12px;
            font-weight: bold;
        }

        p {
            width: 66%;
            margin-top: 0px;
            font-family: Source Sans Pro;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.2px;
            color: #3E3832;
        }

        .avoidPageBreakInside {
            page-break-inside: avoid;
        }

        .pageBreak {
            page-break-after: always;
        }
    </style>
    <title>Oppfølgingsplan</title>
</head>
<body>
<h1>Oppfølgingsplan fra LPS</h1>
<h2>Om virksomheten</h2>
{{#if oppfolgingsplan.nokkelopplysninger.virksomhetensnavn }}
    <h3>Virksomhetens navn</h3>
    <p>
        {{ oppfolgingsplan.nokkelopplysninger.virksomhetensnavn }}{{#if
            oppfolgingsplan.nokkelopplysninger.organiasjonsnr }}
        - Bedr.nr: {{ oppfolgingsplan.nokkelopplysninger.organiasjonsnr }}{{/if}}
    </p>
{{/if}}
{{#if oppfolgingsplan.nokkelopplysninger.nearmestelederFornavnEtternavn }}
    <h3>Nærmeste leder</h3>
    <p>
        {{#if oppfolgingsplan.nokkelopplysninger.nearmestelederFornavnEtternavn.fornavn }}
            {{ oppfolgingsplan.nokkelopplysninger.nearmestelederFornavnEtternavn.fornavn }}
        {{/if}}
        {{#if oppfolgingsplan.nokkelopplysninger.nearmestelederFornavnEtternavn.etternavn }}
            {{ oppfolgingsplan.nokkelopplysninger.nearmestelederFornavnEtternavn.etternavn }}
        {{/if}}
        {{#if oppfolgingsplan.nokkelopplysninger.tlfnearmesteleder }}
            - Tlf: {{ oppfolgingsplan.nokkelopplysninger.tlfnearmesteleder }}
        {{/if}}
    </p>
{{/if}}

{{#if oppfolgingsplan.nokkelopplysninger.annenKontaktPersonFornavnEtternavn }}
    {{#if oppfolgingsplan.nokkelopplysninger.annenKontaktPersonFornavnEtternavn.fornavn }}
        <h3>Annen kontaktperson</h3>
    {{else if oppfolgingsplan.nokkelopplysninger.annenKontaktPersonFornavnEtternavn.etternavn}}
        <h3>Annen kontaktperson</h3>
    {{else oppfolgingsplan.nokkelopplysninger.tlfkontatkperson}}
        <h3>Annen kontaktperson</h3>
    {{/if}}
    <p>
        {{#if oppfolgingsplan.nokkelopplysninger.annenKontaktPersonFornavnEtternavn.fornavn }}
            {{ oppfolgingsplan.nokkelopplysninger.annenKontaktPersonFornavnEtternavn.fornavn }}
        {{/if}}
        {{#if oppfolgingsplan.nokkelopplysninger.annenKontaktPersonFornavnEtternavn.etternavn }}
            {{ oppfolgingsplan.nokkelopplysninger.annenKontaktPersonFornavnEtternavn.etternavn }} -
        {{/if}}
        {{#if oppfolgingsplan.nokkelopplysninger.tlfkontatkperson }}
            Tlf: {{ oppfolgingsplan.nokkelopplysninger.tlfkontatkperson }}
        {{/if}}
    </p>
{{/if}}

{{#is_defined oppfolgingsplan.nokkelopplysninger.virksomhetenerIAVirksomhet }}
    <h3>Virksomheten er IA-virksomhet</h3>
    {{#if oppfolgingsplan.nokkelopplysninger.virksomhetenerIAVirksomhet }}
        <p>Ja</p>
    {{else}}
        <p>Nei</p>
    {{/if}}
{{/is_defined}}

{{#is_defined oppfolgingsplan.nokkelopplysninger.virksomhetenHarBedrifsHelseTjeneste }}
    <h3>Virksomheten har bedriftshelsetjeneste</h3>
    <p>
        {{#if oppfolgingsplan.nokkelopplysninger.virksomhetenHarBedrifsHelseTjeneste }}
            Ja
        {{else}}
            Nei
        {{/if}}
    </p>
{{/is_defined}}

<h2>Om arbeidstakeren</h2>
{{#if oppfolgingsplan.opplysningerOmArbeidstakeren.arbeidstakerenFornavnEtternavn }}
    <h3>Arbeidstakers navn</h3>
    <p>
        {{#if oppfolgingsplan.opplysningerOmArbeidstakeren.arbeidstakerenFornavnEtternavn.fornavn }}
            {{ oppfolgingsplan.opplysningerOmArbeidstakeren.arbeidstakerenFornavnEtternavn.fornavn }}
        {{/if}}
        {{#if oppfolgingsplan.opplysningerOmArbeidstakeren.arbeidstakerenFornavnEtternavn.etternavn }}
            {{ oppfolgingsplan.opplysningerOmArbeidstakeren.arbeidstakerenFornavnEtternavn.etternavn }}
        {{/if}}
        {{#if oppfolgingsplan.opplysningerOmArbeidstakeren.fodselsnummer }}
            - F.nr: {{ oppfolgingsplan.opplysningerOmArbeidstakeren.fodselsnummer }}
        {{/if}}
    </p>
{{/if}}

{{#if oppfolgingsplan.opplysningerOmArbeidstakeren.tlf }}
    <h3>Telefon</h3>
    <p>{{ oppfolgingsplan.opplysningerOmArbeidstakeren.tlf }}</p>
{{/if}}

{{#if oppfolgingsplan.opplysningerOmArbeidstakeren.stillingAvdeling }}
    <h3>Stilling / avdeling</h3>
    <p>{{ oppfolgingsplan.opplysningerOmArbeidstakeren.stillingAvdeling }}</p>
{{/if}}

{{#if oppfolgingsplan.opplysningerOmArbeidstakeren.ordineareArbeidsoppgaver }}
    <h3>Ordinære arbeidsoppgaver</h3>
    <p>{{ oppfolgingsplan.opplysningerOmArbeidstakeren.ordineareArbeidsoppgaver }}</p>
{{/if}}

{{#if oppfolgingsplan.opplysingerOmSykefravaeret }}
    <h2>Om sykefraværet</h2>
    {{#if oppfolgingsplan.opplysingerOmSykefravaeret.forsteFravearsdag }}
        <h3>Første fraværsdag</h3>
        <p>{{ iso_to_date oppfolgingsplan.opplysingerOmSykefravaeret.forsteFravearsdag }}</p>
    {{/if}}

    {{#if oppfolgingsplan.opplysingerOmSykefravaeret.sykmeldingsDato }}
        <h3>Sykmeldingsdato</h3>
        <p>{{ iso_to_date oppfolgingsplan.opplysingerOmSykefravaeret.sykmeldingsDato }}</p>
    {{/if}}
    {{#if oppfolgingsplan.opplysingerOmSykefravaeret.sykmeldingsProsentVedSykmeldDato }}
        <h3>Sykmeldingsprosent ved sykmeldingsdato</h3>
        <p>{{ oppfolgingsplan.opplysingerOmSykefravaeret.sykmeldingsProsentVedSykmeldDato }}</p>
    {{/if}}
{{/if}}

<div class="pageBreak"/>

{{#each oppfolgingsplan.tiltak}}
    <div class="avoidPageBreakInside">
        <h2>Tiltak {{inc @index}}</h2>
        {{#if ordineareArbeidsoppgaverSomKanIkkeKanUtfores }}
            <h3>Ordinære arbeidsoppgaver som kan / ikke kan utføres</h3>
            <p>{{ ordineareArbeidsoppgaverSomKanIkkeKanUtfores }}</p>
        {{/if}}

        {{#if beskrivelseAvTiltak }}
            <h3>Beskrivelse av tiltak</h3>
            <p>{{ beskrivelseAvTiltak }}</p>
        {{/if}}

        {{#if maalMedTiltaket }}
            <h3>Mål med tiltaket</h3>
            <p>{{ maalMedTiltaket }}</p>
        {{/if}}

        {{#if tiltaketGjennonforesIPerioden.fraDato }}
            {{#if tiltaketGjennonforesIPerioden.tilDato }}
                <h3>Tiltaket gjennomføres i perioden</h3>
                <p>{{ iso_to_date tiltaketGjennonforesIPerioden.fraDato }} - {{ iso_to_date
                        tiltaketGjennonforesIPerioden.tilDato }}
                </p>
            {{/if}}
        {{/if}}
        {{#if sykmeldingsprosendIPerioden }}
            <h3>Sykmeldingsprosent i perioden</h3>
            <p>{{ sykmeldingsprosendIPerioden }}</p>
        {{/if}}
    </div>
    {{#if behovForBistandFraNav }}
        <h3>Ønsker bistand fra NAV</h3>
        <p>
            {{#if behovForBistandFraNav.raadOgVeiledning }}
                Ja - Råd og veiledning: {{ behovForBistandFraNav.raadOgVeiledningBeskrivelse }}
            {{/if}}
            <br/>
            {{#if behovForBistandFraNav.dialogmoteMed }}
                Ja - Dialogmøte i regi av NAV: {{ behovForBistandFraNav.dialogmoteMedBeskrivelse}}
            {{/if}}
            <br/>
            {{#if behovForBistandFraNav.arbeidsrettedeTiltak }}
                Ja - Arbeidsrettede tiltak og virkemidler: {{ behovForBistandFraNav.arbeidsrettedeTiltakBeskrivelse }}
            {{/if}}
            <br/>
            {{#if behovForBistandFraNav.hjelpemidler }}
                Ja - Hjelpemidler: {{ behovForBistandFraNav.hjelpemidlerBeskrivelse }}
            {{/if}}
        </p>
    {{/if}}

    {{#if behovForBistandFraAndre }}
        <h3>Behov for bistand fra andre</h3>
        <p>
            {{#if behovForBistandFraAndre.bedriftsHelsetjenesten }}
                Ja - Bedriftshelsetjenesten
            {{else}}
                Nei - Bedriftshelsetjenesten
            {{/if}}
        </p>
    {{/if}}

    {{#if behovForBistandFraAndre.andre }}
        {{#if behovForBistandFraAndre.andreFritekst }}
            <h3>Andre</h3>
            <p>
                {{#if behovForBistandFraAndre.andre }}
                    Ja - Andre: {{ behovForBistandFraAndre.andreFritekst }}
                {{else}}
                    Nei - Andre:
                {{/if}}
            </p>
        {{/if}}
    {{/if}}

    {{#if behovForAvklaringMedLegeSykmelder }}
        <h3>Behov for avklaring med lege/sykmelder</h3>
        <p>{{ behovForAvklaringMedLegeSykmelder }}</p>
    {{/if}}

    {{#if tilrettelagtArbeidIkkeMulig }}
        <h3>Tilrettelagt arbeid ikke mulig</h3>
        <p>{{ tilrettelagtArbeidIkkeMulig }}</p>
    {{/if}}

    {{#if vurderingEffektAvTiltak.vurderingEffektAvTiltakFritekst }}
        <h3>Vurdering - effekt av tiltak</h3>
        <p>{{ vurderingEffektAvTiltak.vurderingEffektAvTiltakFritekst }}</p>
    {{/if}}

    {{#if vurderingEffektAvTiltak.behovForNyeTiltak }}
        <h3>Behov for nye tiltak</h3>
        <p>
            {{#if vurderingEffektAvTiltak.behovForNyeTiltak }}
                Ja
            {{else}}
                Nei
            {{/if}}
        </p>
    {{/if}}

    {{#if fremdrift }}
        <h3>Fremdrift</h3>
        <p>{{ fremdrift }}</p>
    {{/if}}

    {{#if underskrift }}
        <h3>Underskrift</h3>
        <p>
            {{#if underskrift}}
                {{#if underskrift.signertPapirkopiForeliggerPaaArbeidsplasssen }}
                    Ja, det foreligger signert kopi på arbeidsplassen
                {{else}}
                    Nei, det foreligger ikke signert kopi på arbeidsplassen
                {{/if}}
                {{#if underskrift.datoforUnderskift}}
                    <br/>{{ iso_to_date underskrift.datoforUnderskift }} - Dato for underskrift
                {{/if}}
            {{/if}}
        </p>
    {{/if}}
{{/each}}

{{#if oppfolgingsplan.arbeidstakersDeltakelse }}
    <h2>Arbeidstakers deltakelse</h2>
    <h3>Arbeidstaker medvirket i gjennomføring av oppfolgingsplan</h3>
    {{#if oppfolgingsplan.arbeidstakersDeltakelse.arbeidstakerMedvirkGjeonnforingOppfolginsplan }}
        Ja
    {{else}}
        Nei
    {{/if}}

    {{#if oppfolgingsplan.arbeidstakersDeltakelse.hvorforHarIkkeArbeidstakerenMedvirket }}
        <h3>Begrunnelse for at arbeidstaker ikke medvirket</h3>
        <p>{{ oppfolgingsplan.arbeidstakersDeltakelse.hvorforHarIkkeArbeidstakerenMedvirket }}</p>
    {{/if}}
{{/if}}

{{#if oppfolgingsplan.utfyllendeInfo}}
    <h2>Utfyllende info</h2>
    <p>{{ oppfolgingsplan.utfyllendeInfo }}</p>
{{/if}}
</body>
</html>
