
<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        @page {
            margin: 1cm;
        }
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }

        td {
            font-size: 0.9em;
        }

        table {
            width: 100%;
            border: 1px black solid;
            margin-bottom: 0.5cm;
        }

        td {
            vertical-align: top;
            word-wrap: break-word;
        }

        table thead {
            background-color: lightblue;
        }

        table thead td {
            border: none;
        }

        td h5 {
            margin: 0;
        }

        td h4 {
            margin: 0;
        }

        td h3 {
            margin: 0;
        }

        td p {
            margin: 0;
        }

        body {
            page-break-inside: avoid;
        }

        .header {

        }

        .tr5 {
            width: 5%;
        }

        .tr10 {
            width: 10%;
        }

        .tr15 {
            width: 15%;
        }

        .tr20 {
            width: 20%;
        }

        .tr25 {
            width: 25%;
        }

        .tr30 {
            width: 30%;
        }

        .tr60 {
            width: 60%;
        }

        .tr65 {
            width: 65%;
        }

        .tr75 {
            width: 75%;
        }

        .infoblock {
        }

        .checkbox {
            width: 11px;
            height: 11px;
            display: inline-block;
        }
    </style>
    <title>{{#eq validationResult.status "INVALID" }}AVVIST {{/eq}}Oppfolgingsplan </title>
</head>
<body>
<table class="header">
    <thead>
    <tr>
        <td class="tr75">{{#eq validationResult.status "INVALID" }}AVVIST {{/eq}}Oppfolgingsplan fra LPS</td>
    </tr>
    </thead>
</table>

<table class="infoblock">
    <thead>
    <tr>
        <td class="tr40"><h3>Opplysninger om virksomheten</h3></td>
        <td class="tr60"></td>
    </tr>
    </thead>
    <tbody>
    {{#if oppfolgingsplan.nokkelopplysninger.virksomhetensnavn }}
    <tr>
        <td><h4>Virksomhetens navn</h4></td>
        <td>{{ oppfolgingsplan.nokkelopplysninger.virksomhetensnavn }}</td>
    </tr>
    {{/if}}
    {{#if oppfolgingsplan.nokkelopplysninger.organiasjonsnr }}
    <tr>
        <td><h4>Bedriftsnr</h4></td>
        <td>{{ oppfolgingsplan.nokkelopplysninger.organiasjonsnr }}</td>
    </tr>
    {{/if}}
    {{#if oppfolgingsplan.nokkelopplysninger.nearmestelederFornavnEtternavn }}
    <tr>
        <td><h4>Nærmeste leder - Navn</h4></td>
        <td>
            {{#if oppfolgingsplan.nokkelopplysninger.nearmestelederFornavnEtternavn.fornavn }}
            {{ oppfolgingsplan.nokkelopplysninger.nearmestelederFornavnEtternavn.fornavn }}
            {{/if}}
            {{#if oppfolgingsplan.nokkelopplysninger.nearmestelederFornavnEtternavn.etternavn }}
            {{ oppfolgingsplan.nokkelopplysninger.nearmestelederFornavnEtternavn.etternavn }}
            {{/if}}
        </td>
    </tr>
    {{/if}}
    {{#if oppfolgingsplan.nokkelopplysninger.tlfnearmesteleder }}
    <tr>
        <td><h4>Telefon nærmeste leder</h4></td>
        <td>{{ oppfolgingsplan.nokkelopplysninger.tlfnearmesteleder }}</td>
    </tr>
    {{/if}}
    {{#if oppfolgingsplan.nokkelopplysninger.annenKontaktPersonFornavnEtternavn }}
    <tr>
        <td><h4>Annen kontaktperson - Navn</h4></td>
        <td>
            {{#if oppfolgingsplan.nokkelopplysninger.annenKontaktPersonFornavnEtternavn.fornavn }}
            {{ oppfolgingsplan.nokkelopplysninger.annenKontaktPersonFornavnEtternavn.fornavn }}
            {{/if}}
            {{#if oppfolgingsplan.nokkelopplysninger.annenKontaktPersonFornavnEtternavn.etternavn }}
            {{ oppfolgingsplan.nokkelopplysninger.annenKontaktPersonFornavnEtternavn.etternavn }}
            {{/if}}
        </td>
    </tr>
    {{/if}}
    {{#if oppfolgingsplan.nokkelopplysninger.tlfnearmesteleder }}
    <tr>
        <td><h4>Telefon kontaktperson</h4></td>
        <td>{{ oppfolgingsplan.nokkelopplysninger.tlfnearmesteleder }}</td>
    </tr>
    {{/if}}
    {{#if oppfolgingsplan.nokkelopplysninger.virksomhetenerIAVirksomhet }}
    <tr>
        <td><h4>Virksomheten er IA-virksomhet</h4></td>
        <td>{{#if oppfolgingsplan.nokkelopplysninger.virksomhetenerIAVirksomhet }}Ja{{else}}Nei{{/if}}</td>
    </tr>
    {{/if}}
    {{#if oppfolgingsplan.nokkelopplysninger.virksomhetenHarBedrifsHelseTjeneste }}
    <tr>
        <td><h4>Virksomheten har bedriftshelsetjeneste</h4></td>
        <td>{{#if oppfolgingsplan.nokkelopplysninger.virksomhetenHarBedrifsHelseTjeneste }}Ja{{else}}Nei{{/if}}</td>
    </tr>
    {{/if}}
</table>

<table class="infoblock">
    <thead>
    <tr>
        <td class="tr50"><h3>Opplysninger om arbeidstakeren</h3></td>
        <td class="tr60"></td>
    </tr>
    </thead>
    <tbody>
    {{#if oppfolgingsplan.opplysningerOmArbeidstakeren.arbeidstakerenFornavnEtternavn }}
    <tr>
        <td><h4>Arbeidstaker - Navn</h4></td>
        <td>
            {{#if oppfolgingsplan.opplysningerOmArbeidstakeren.arbeidstakerenFornavnEtternavn.fornavn }}
            {{ oppfolgingsplan.opplysningerOmArbeidstakeren.arbeidstakerenFornavnEtternavn.fornavn }}
            {{/if}}
            {{#if oppfolgingsplan.opplysningerOmArbeidstakeren.arbeidstakerenFornavnEtternavn.etternavn }}
            {{ oppfolgingsplan.opplysningerOmArbeidstakeren.arbeidstakerenFornavnEtternavn.etternavn }}
            {{/if}}
        </td>
    </tr>
    {{/if}}
    {{#if oppfolgingsplan.opplysningerOmArbeidstakeren.fodselsnummer }}
    <tr>
        <td><h4>Fødselsnummer</h4></td>
        <td>{{ oppfolgingsplan.opplysningerOmArbeidstakeren.fodselsnummer }}</td>
    </tr>
    {{/if}}
    {{#if oppfolgingsplan.opplysningerOmArbeidstakeren.tlf }}
    <tr>
        <td><h4>Telefon</h4></td>
        <td>{{ oppfolgingsplan.opplysningerOmArbeidstakeren.tlf }}</td>
    </tr>
    {{/if}}
    {{#if oppfolgingsplan.opplysningerOmArbeidstakeren.stillingAvdeling }}
    <tr>
        <td><h4>Stilling / avdeling</h4></td>
        <td>{{ oppfolgingsplan.opplysningerOmArbeidstakeren.stillingAvdeling }}</td>
    </tr>
    {{/if}}
    {{#if oppfolgingsplan.opplysningerOmArbeidstakeren.ordineareArbeidsoppgaver }}
    <tr>
        <td><h4>Ordinære arbeidsoppgaver</h4></td>
        <td>{{ oppfolgingsplan.opplysningerOmArbeidstakeren.ordineareArbeidsoppgaver }}</td>
    </tr>
    {{/if}}
</table>

{{#if oppfolgingsplan.opplysingerOmSykefravaeret }}
<table class="infoblock">
    <thead>
    <tr>
        <td class="tr40"><h3>Opplysninger om sykefraværet</h3></td>
        <td class="tr60"></td>
    </tr>
    </thead>
    <tbody>
    {{#if oppfolgingsplan.opplysingerOmSykefravaeret.forsteFravearsdag }}
    <tr>
        <td><h4>Første fraværsdag</h4></td>
        <td>{{ iso_to_date oppfolgingsplan.opplysingerOmSykefravaeret.forsteFravearsdag }}</td>
    </tr>
    {{/if}}
    {{#if oppfolgingsplan.opplysingerOmSykefravaeret.sykmeldingsDato }}
    <tr>
        <td><h4>Sykmeldingsdato</h4></td>
        <td>{{ iso_to_date oppfolgingsplan.opplysingerOmSykefravaeret.sykmeldingsDato }}</td>
    </tr>
    {{/if}}
    {{#if oppfolgingsplan.opplysingerOmSykefravaeret.sykmeldingsProsentVedSykmeldDato }}
    <tr>
        <td><h4>Sykmeldingsprosent ved sykmeldingsdato</h4></td>
        <td>{{ oppfolgingsplan.opplysingerOmSykefravaeret.sykmeldingsProsentVedSykmeldDato }}</td>
    </tr>
    {{/if}}
</table>
{{/if}}

{{#each oppfolgingsplan.tiltak}}
<table class="infoblock">
    <thead>
    <tr>
        <td class="tr40"><h3>Tiltak {{inc @index}}</h3></td>
        <td class="tr60"></td>
    </tr>
    </thead>
    <tbody>
    {{#if this.ordineareArbeidsoppgaverSomKanIkkeKanUtfores }}
    <tr>
        <td colspan="2">
            <h4>Ordinære arbeidsoppgaver som kan / kan ikke utføres</h4>
            {{ this.ordineareArbeidsoppgaverSomKanIkkeKanUtfores }}
        </td>
    </tr>
    {{/if}}
    {{#if this.beskrivelseAvTiltak }}
    <tr>
        <td colspan="2">
            <h4>Beskrivelse av tiltak</h4>
            {{ this.beskrivelseAvTiltak }}
        </td>
    </tr>
    {{/if}}
    {{#if this.maalMedTiltaket }}
    <tr>
        <td colspan="2">
            <h4>Mål med tiltaket</h4>
            {{ this.maalMedTiltaket }}
        </td>
    </tr>
    {{/if}}
    {{#if this.tiltaketGjennonforesIPerioden.fraDato }}
    {{#if this.tiltaketGjennonforesIPerioden.tilDato }}
    <tr>
        <td colspan="2">
            <h4>Tiltaket gjennomføres i perioden</h4>
            {{ iso_to_date this.tiltaketGjennonforesIPerioden.fraDato }} - {{ iso_to_date this.tiltaketGjennonforesIPerioden.tilDato }}
        </td>
    </tr>
    {{/if}}
    {{/if}}
    {{#if this.sykmeldingsprosendIPerioden }}
     <tr>
        <td colspan="2">
            <h4>Sykmeldingsprosent i periode</h4>
            {{ this.sykmeldingsprosendIPerioden }}
        </td>
    </tr>
    {{/if}}
    {{#if this.behovForBistandFraNav }}
    <tr>
        <td colspan="2">
            <h4>Ønsker bistand fra NAV</h4>
        </td>
    </tr>
    {{/if}}
    {{#if this.behovForBistandFraNav.raadOgVeiledning }}
    {{#if this.behovForBistandFraNav.raadOgVeiledningBeskrivelse }}
    <tr>
        <td><h5>Råd og veiledning</h5></td>
        <td>{{#if this.behovForBistandFraNav.raadOgVeiledning }}Ja. {{ this.behovForBistandFraNav.raadOgVeiledningBeskrivelse }}{{else}}Nei{{/if}}</td>
    </tr>
    {{/if}}
    {{/if}}
    {{#if this.behovForBistandFraNav.dialogmoteMed }}
    {{#if this.behovForBistandFraNav.dialogmoteMedBeskrivelse }}
    <tr>
        <td><h5>Dialogmøte i regi av NAV</h5></td>
        <td>{{#if this.behovForBistandFraNav.dialogmoteMed }}Ja. {{ this.behovForBistandFraNav.dialogmoteMedBeskrivelse}}{{else}}Nei{{/if}}</td>
    </tr>
    {{/if}}
    {{/if}}
    {{#if this.behovForBistandFraNav.arbeidsrettedeTiltak }}
    {{#if this.behovForBistandFraNav.arbeidsrettedeTiltakBeskrivelse }}
    <tr>
        <td><h5>Arbeidsrettede tiltak og virkemidler</h5></td>
        <td>{{#if this.behovForBistandFraNav.arbeidsrettedeTiltak }}Ja. {{ this.behovForBistandFraNav.arbeidsrettedeTiltakBeskrivelse }}{{else}}Nei{{/if}}</td>
    </tr>
    {{/if}}
    {{/if}}
    {{#if this.behovForBistandFraNav.hjelpemidler }}
    {{#if this.behovForBistandFraNav.hjelpemidlerBeskrivelse }}
    <tr>
        <td><h5>Hjelpemidler</h5></td>
        <td>{{#if this.behovForBistandFraNav.hjelpemidler }}Ja. {{ this.behovForBistandFraNav.hjelpemidlerBeskrivelse }}{{else}}Nei{{/if}}</td>
    </tr>
    {{/if}}
    {{/if}}
    {{#if this.behovForBistandFraAndre }}
    <tr>
        <td colspan="2">
            <h4>Behov for bistand fra andre</h4>
        </td>
    </tr>
    {{/if}}
    {{#if this.behovForBistandFraAndre.bedriftsHelsetjenesten }}
    <tr>
        <td><h5>Bedriftshelsetjenesten</h5></td>
        <td>{{#if this.behovForBistandFraAndre.bedriftsHelsetjenesten }}Ja{{else}}Nei{{/if}}</td>
    </tr>
    {{/if}}
    {{#if this.behovForBistandFraAndre.andre }}
    {{#if this.behovForBistandFraAndre.andreFritekst }}
    <tr>
        <td><h5>Andre</h5></td>
        <td>{{#if this.behovForBistandFraAndre.andre }}Ja. {{ this.behovForBistandFraAndre.andreFritekst }}{{else}}Nei{{/if}}</td>
    </tr>
    {{/if}}
    {{/if}}
    {{#if this.behovForAvklaringMedLegeSykmelder }}
    <tr>
        <td colspan="2">
            <h4>Behov for avklaring med lege/sykmelder</h4>
            {{ this.behovForAvklaringMedLegeSykmelder }}
        </td>
    </tr>
    {{/if}}
    {{#if this.tilrettelagtArbeidIkkeMulig }}
    <tr>
        <td colspan="2">
            <h4>Tilrettelagt arbeid ikke mulig</h4>
            {{ this.tilrettelagtArbeidIkkeMulig }}
        </td>
    </tr>
    {{/if}}
    {{#if this.vurderingEffektAvTiltak.vurderingEffektAvTiltakFritekst }}
    <tr>
        <td colspan="2">
            <h4>Vurdering - effekt av tiltak</h4>
            {{ this.vurderingEffektAvTiltak.vurderingEffektAvTiltakFritekst }}
        </td>
    </tr>
    {{/if}}
    {{#if this.vurderingEffektAvTiltak.behovForNyeTiltak }}
    <tr>
        <td><h4>Behov for nye tiltak</h4></td>
        <td>{{#if this.vurderingEffektAvTiltak.behovForNyeTiltak }}Ja{{else}}Nei{{/if}}</td>
    </tr>
    {{/if}}
    {{#if this.fremdrift }}
    <tr>
        <td><h4>Fremdrift</h4></td>
        <td>{{ this.fremdrift }}</td>
    </tr>
    {{/if}}
    {{#if this.underskrift }}
    <tr>
        <td colspan="2">
            <h4 >Underskrift</h4>
        </td>
    </tr>
    {{/if}}
    {{#if this.underskrift.signertPapirkopiForeliggerPaaArbeidsplasssen}}
    <tr>
        <td><h5>Signert papirkopi foreligger på arbeidsplassen</h5></td>
        <td>{{#if this.underskrift.signertPapirkopiForeliggerPaaArbeidsplasssen }}Ja{{else}}Nei{{/if}}</td>
    </tr>
    {{/if}}
    {{#if this.underskrift.datoforUnderskift}}
    <tr>
        <td><h5>Dato for underskrift</h5></td>
        <td>{{ iso_to_date this.underskrift.datoforUnderskift }}</td>
    </tr>
    {{/if}}
</table>
{{/each}}

{{#if oppfolgingsplan.arbeidstakersDeltakelse }}
<table class="infoblock">
    <thead>
    <tr>
        <td class="tr40"><h3>Arbeidstakers deltakelse</h3></td>
        <td class="tr60"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="2">
            <h4>Arbeidstaker medvirket i gjennomføring av oppfolgingsplan</h4>
            {{#if oppfolgingsplan.arbeidstakersDeltakelse.arbeidstakerMedvirkGjeonnforingOppfolginsplan }}Ja{{else}}Nei{{/if}}
        </td>
    </tr>
    {{#if oppfolgingsplan.arbeidstakersDeltakelse.hvorforHarIkkeArbeidstakerenMedvirket }}
    <tr>
        <td colspan="2">
            <h4>Begrunnelse for at arbeidstaker ikke medvirket</h4>
            {{ oppfolgingsplan.arbeidstakersDeltakelse.hvorforHarIkkeArbeidstakerenMedvirket }}
        </td>
    </tr>
    {{/if}}
</table>
{{/if}}

{{#if oppfolgingsplan.utfyllendeInfo}}
<table class="infoblock">
    <thead>
    <tr>
        <td class="tr40"><h3>Utfyllende info</h3></td>
        <td class="tr60"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="2">{{ oppfolgingsplan.utfyllendeInfo }}</td>
    </tr>
</table>
{{/if}}


{{#eq validationResult.status "INVALID" }}
<table>
    <thead>
    <tr>
        <td class="tr60"><h4>Begrunnelse for avvising</h4></td>
    </tr>
    </thead>
    <tr>
        <td>
            <ul>{{#each validationResult.ruleHits}}
                <li>{{messageForSender}}</li>
                {{/each}}
            </ul>
        </td>
    </tr>
    </tbody>
</table>
{{/eq}}
</body>
</html>