
<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        @page {
            margin: 1cm;
        }
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
        }

        td {
            font-size: 0.9em;
        }

        table {
            width: 100%;
            border: 1px black solid;
            margin-bottom: 0.5cm;
        }

        td {
            vertical-align: top;
            word-wrap: break-word;
        }

        table thead {
            background-color: lightblue;
        }

        table thead td {
            border: none;
        }

        td h5 {
            margin: 0;
        }

        td h4 {
            margin: 0;
        }

        td h3 {
            margin: 0;
        }

        td p {
            margin: 0;
        }

        body {
            page-break-inside: avoid;
        }

        .header {

        }

        .tr5 {
            width: 5%;
        }

        .tr10 {
            width: 10%;
        }

        .tr15 {
            width: 15%;
        }

        .tr20 {
            width: 20%;
        }

        .tr25 {
            width: 25%;
        }

        .tr30 {
            width: 30%;
        }

        .tr60 {
            width: 60%;
        }

        .tr65 {
            width: 65%;
        }

        .tr75 {
            width: 75%;
        }

        .infoblock {
        }

        .checkbox {
            width: 11px;
            height: 11px;
            display: inline-block;
        }
    </style>
    <title>{{#eq validationResult.status "INVALID" }}AVVIST {{/eq}}Oppfolgingsplan </title>
</head>
<body>
<table class="header">
    <thead>
    <tr>
        <td class="tr75">{{#eq validationResult.status "INVALID" }}AVVIST {{/eq}}Oppfolgingsplan fra LPS</td>
    </tr>
    </thead>
</table>

<table class="infoblock">
    <thead>
    <tr>
        <td class="tr25"><h4>Oppfolgingsplan Avsender</h4></td>
        <td class="tr65"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>Virksomhetsnavn</h4></td>
        <td>{{ oppfolgingsplan.nokkelopplysninger.virksomhetensnavn }}</td>
    </tr>
    <tr>
        <td><h4>Organisasjonsnummer</h4></td>
        <td>{{ oppfolgingsplan.nokkelopplysninger.organiasjonsnr }}</td>
    </tr>
    <tr>
        <td><h4>Nærmeste leder navn</h4></td>
        <td>{{ oppfolgingsplan.nokkelopplysninger.nearmestelederFornavnEtternavn.fornavn }}
            {{ oppfolgingsplan.nokkelopplysninger.nearmestelederFornavnEtternavn.etternavn }}</td>
    </tr>
    <tr>
        <td><h4>Nærmeste leder telefonnummer</h4></td>
        <td>{{ oppfolgingsplan.nokkelopplysninger.tlfnearmesteleder }}</td>
    </tr>
</table>

<table class="infoblock">
    <thead>
    <tr>
        <td class="tr25"><h4>Arbeidstaker</h4></td>
        <td class="tr65"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>Navn</h4></td>
        <td>{{ oppfolgingsplan.opplysningerOmArbeidstakeren.arbeidstakerenFornavnEtternavn.fornavn }}
            {{ oppfolgingsplan.opplysningerOmArbeidstakeren.arbeidstakerenFornavnEtternavn.etternavn }}</td>
    </tr>
    <tr>
        <td><h4>Fødselsnummer</h4></td>
        <td>{{ oppfolgingsplan.opplysningerOmArbeidstakeren.fodselsnummer }}</td>
    </tr>
    <tr>
        <td><h4>Telefonnummer</h4></td>
        <td>{{ oppfolgingsplan.opplysningerOmArbeidstakeren.tlf }}</td>
    </tr>
    <tr>
        <td><h4>Stilling avdeling</h4></td>
        <td>{{ oppfolgingsplan.opplysningerOmArbeidstakeren.stillingAvdeling }}</td>
    </tr>
    <tr>
        <td><h4>Ordinære arbeidsoppgaver</h4></td>
        <td>{{ oppfolgingsplan.opplysningerOmArbeidstakeren.ordineareArbeidsoppgaver }}</td>
    </tr>
</table>

<table class="infoblock">
    <thead>
    <tr>
        <td class="tr25"><h4>Sykefraværet</h4></td>
        <td class="tr65"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>Første fraværsdag</h4></td>
        <td>{{ iso_to_date oppfolgingsplan.opplysingerOmSykefravaeret.forsteFravearsdag }}</td>
    </tr>
    <tr>
        <td><h4>Sykmeldingsdato</h4></td>
        <td>{{ iso_to_date oppfolgingsplan.opplysingerOmSykefravaeret.sykmeldingsDato }}</td>
    </tr>
    <tr>
        <td><h4>Sykmeldingsprosent</h4></td>
        <td>{{ oppfolgingsplan.opplysingerOmSykefravaeret.sykmeldingsProsentVedSykmeldDato }}</td>
    </tr>
</table>

{{#each oppfolgingsplan.tiltak}}
<table class="infoblock">
    <thead>
    <tr>
        <td class="tr25"><h4>Tiltak {{inc @index}}</h4></td>
        <td class="tr65"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>Arbeidsoppgaver kan ikke utføres</h4></td>
        <td>{{ this.ordineareArbeidsoppgaverSomKanIkkeKanUtfores }}</td>
    </tr>
    <tr>
        <td><h4>Beskrivelse</h4></td>
        <td>{{ this.beskrivelseAvTiltak }}</td>
    </tr>
    <tr>
        <td><h4>Mål</h4></td>
        <td>{{ this.maalMedTiltaket }}</td>
    </tr>
    <tr>
        <td><h4>Periode</h4></td>
        <td>{{ iso_to_date this.tiltaketGjennonforesIPerioden.fraDato }} - {{ iso_to_date this.tiltaketGjennonforesIPerioden.tilDato }}</td>
    </tr>
     <tr>
        <td><h4>Sykmeldingsprosent i periode</h4></td>
        <td>{{ this.sykmeldingsprosendIPerioden }}</td>
    </tr>
    <tr>
        <td><h4>Behov for råd og veiledning</h4></td>
        <td>{{ this.behovForBistandFraNav.raadOgVeiledning }}</td>
    </tr>
    <tr>
        <td><h4>BISTAND FRA NAV:</h4></td>
    </tr>
    <tr>
        <td><h4>Behov for dialogmote</h4></td>
        <td>{{ this.behovForBistandFraNav.dialogmoteMed }}</td>
    </tr>
    <tr>
        <td><h4>Behov for arbeidsrettede tiltak</h4></td>
        <td>{{ this.behovForBistandFraNav.arbeidsrettedeTiltak }}</td>
    </tr>
    <tr>
        <td><h4>Behov for hjelpemidler</h4></td>
        <td>{{ this.behovForBistandFraNav.hjelpemidler }}</td>
    </tr>
    <tr>
        <td><h4>BISTAND FRA ANDRE:</h4></td>
    </tr>
    <tr>
        <td><h4>Bedriftshelsetjenesten</h4></td>
        <td>{{ this.behovForBistandFraAndre.bedriftsHelsetjenesten }}</td>
    </tr>
    <tr>
        <td><h4>Andre</h4></td>
        <td>{{ this.behovForBistandFraAndre.andre }}</td>
    </tr>
    <tr>
        <td><h4>Fritekst</h4></td>
        <td>{{ this.behovForBistandFraAndre.andreFritekts }}</td>
    </tr>
    <tr>
        <td><h4>behovForAvklaringMedLegeSykmeleder</h4></td>
        <td>{{ this.behovForAvklaringMedLegeSykmeleder }}</td>
    </tr>
    <tr>
        <td><h4>tilrettelagtArbeidIkkeMulig</h4></td>
        <td>{{ this.tilrettelagtArbeidIkkeMulig }}</td>
    </tr>
    <tr>
        <td><h4>vurderingEffektAvTiltakFritekst</h4></td>
        <td>{{ this.vurderingEffektAvTiltak.vurderingEffektAvTiltakFritekst }}</td>
    </tr>
    <tr>
        <td><h4>behovForNyeTiltak</h4></td>
        <td>{{ this.vurderingEffektAvTiltak.behovForNyeTiltak }}</td>
    </tr>
    <tr>
        <td><h4>fremdrift</h4></td>
        <td>{{ this.fremdrift }}</td>
    </tr>
    <tr>
        <td><h4>datoforUnderskift</h4></td>
        <td>{{ iso_to_date this.underskrift.datoforUnderskift }}</td>
    </tr>
    <tr>
        <td><h4>signertPapirkopiForeliggerPaaArbeidsplasssen</h4></td>
        <td>{{ this.underskrift.signertPapirkopiForeliggerPaaArbeidsplasssen }}</td>
    </tr>
</table>
{{/each}}

<table class="infoblock">
    <thead>
    <tr>
        <td class="tr25"><h4>Arbeidstakers deltakelse</h4></td>
        <td class="tr65"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><h4>Arbeidstaker medvirket gjennomføring av oppfolgingsplan</h4></td>
        <td>{{ oppfolgingsplan.arbeidstakersDeltakelse.arbeidstakerMedvirkGjeonnforingOppfolginsplan }}</td>
    </tr>
    <tr>
        <td><h4>Begrunnelse arbeidstaker ikke medvirket</h4></td>
        <td>{{ oppfolgingsplan.arbeidstakersDeltakelse.hvorforHarIkkeArbeidstakerenMedvirket }}</td>
    </tr>
</table>

<table class="infoblock">
    <thead>
    <tr>
        <td class="tr25"><h4>Utfyllende info</h4></td>
        <td class="tr65"></td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ oppfolgingsplan.utfyllendeInfo }}</td>
    </tr>
</table>


{{#eq validationResult.status "INVALID" }}
<table>
    <thead>
    <tr>
        <td class="tr60"><h4>Begrunnelse for avvising</h4></td>
    </tr>
    </thead>
    <tr>
        <td>
            <ul>{{#each validationResult.ruleHits}}
                <li>{{messageForSender}}</li>
                {{/each}}
            </ul>
        </td>
    </tr>
    </tbody>
</table>
{{/eq}}
</body>
</html>