<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
    <style>
        @page {
            margin: 48px;
            @bottom-left {
                content: element(footer);
            }
        }
        * { font-family: "Source Sans Pro", Arial, sans-serif; color: #3E3832; }
        h1, h2 { font-weight: 500; page-break-after: avoid; }
        h1 { font-size: 24px; line-height: 28px; padding-bottom: 10px; padding-top: 10px; }
        h2 { font-size: 20px; line-height: 25px; margin-top: 50px; padding-top: 10px}
        h3 { margin-top: 10px; margin-bottom: 0; font-size: 14px; font-weight: bolder; }
        p { width: 100%; margin-top: 10px; margin-bottom: 0; font-size: 12px; letter-spacing: 0.2px; }
        .avoidPageBreakInside { page-break-inside: avoid; }
        .horiszontal { border-style: none; border-bottom: 1px solid #ccc; width: 100% }
        #footer {
            position: running(footer);
            font-size: 12px;
            margin-top: -25px;
        }
        .sidetall {
            float: right;
        }
        #pagenumber:before {
            content: counter(page);
        }
        #pagecount:before {
            content: counter(pages)
        }
        .title { background-color: #E6F0FF }
    </style>
    <title>Oppfølgingsplan</title>
</head>
<body>
<div class="title">
    <h1>Oppfølgingsplan for {{oppfolgingsplan.sykmeldtName}} og {{oppfolgingsplan.orgName}}</h1>
</div>

<p><strong>Opprettet:</strong> {{oppfolgingsplan.createdDate}}</p>
<p><strong>Dato for evaluering:</strong> {{oppfolgingsplan.evaluationDate}}</p>
<p><strong>Arbeidstakers navn:</strong> {{oppfolgingsplan.sykmeldtName}}</p>
<p><strong>Arbeidstakers fødselsnummer:</strong> {{oppfolgingsplan.sykmeldtFnr}}</p>
<p><strong>Bedriftens navn:</strong> {{oppfolgingsplan.orgName}}</p>
<p><strong>Organisasjonsnummer:</strong> {{oppfolgingsplan.orgnummer}}</p>
<p><strong>Nærmeste leder:</strong> {{oppfolgingsplan.narmesteLederName}}</p>
<div id="footer">
    <span>Oppfølgingsplan for {{oppfolgingsplan.sykmeldtName}} og {{oppfolgingsplan.orgName}}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>
{{#each oppfolgingsplan.sections}}
    <div class="avoidPageBreakInside">
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        {{#each textInputFields}}
            {{#if value}}
                <p class="horiszontal"></p>
                <h3>{{title}}</h3>
                <p><strong>{{description}}</strong></p>
                <p>{{value}}</p>
            {{/if}}
        {{/each}}
    </div>
{{/each}}
</body>
</html>
