<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8"/>
      <style>
        * {
            font-family: "Source Sans Pro", SourceSansPro, Source_Sans_Pro, ArialSystem, sans-serif;
            color: #262626;
            font-style: normal;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
        }

        h1, h2 {
            font-weight: 600;
            page-break-after: avoid;
        }

        h1 {
            font-size: 32px;
            line-height: 40px;
        }

        h2 {
            font-size: 24px;
            line-height: 32px;
            margin-top: 36px;
            margin-bottom: 36px;
        }

        .text--bold {
            font-weight: bold;
        }

    </style>

    <title> Snart slutt på sykepenger </title>
</head>

<body style="page-break-inside: avoid;">
{{#if brevdata.sendtdato}}
    <p style="margin-bottom: 36px">Sendt {{ brevdata.sendtdato }}</p>
{{/if}}

<p style="margin-bottom: 36px">Hei {{#if brevdata.navn}}{{ brevdata.navn }}{{/if}}</p>

<p>

{{#if brevdata.maxdato}}
    {{#if brevdata.utbetaltTom}}
        Per <span class="text--bold"> {{ brevdata.utbetaltTom }} </span> er det beregnet at din siste dag med
        sykepenger er <span class="text--bold"> {{ brevdata.maxdato }}. </span> Datoen gjelder hvis du er sykmeldt
        uten opphold. Den vil flytte seg hvis du for eksempel jobber noen perioder, eller hvis du tar ferie. Du kan få
        sykepenger i maksimalt 52 uker, og for deg vil det si at denne datoen nå nærmer seg.
    {{else}}
        Etter <span class="text--bold">{{ brevdata.maxdato }} </span> får du ikke lenger sykepenger.
        Du kan få sykepenger i maksimalt 52 uker, og for deg vil det si at denne datoen nå nærmer seg.
        Datoen kan forskyves, for eksempel hvis du tar ferie mens du er sykmeldt.
    {{/if}}
{{else}}
    <div style="border-style: solid; padding-left: 16px">
        <p class="text--bold">Obs!</p>
        <p>På grunn av feil i systemene våre får vi ikke sendt deg datoen for siste dag med sykepenger.</p>

        Ta Kontakt med oss for mer informasjon.
        <ul style="padding-left: 16px; margin-top: 0">
            <li> Ring oss på 55 55 33 33. Åpningstiden på telefon er hverdager fra klokken 09.00–15.00.</li>
            <li> Du kan besøke oss på nav.no/kontaktoss for å ta kontakt på andre måter.</li>
        </ul>

    </div>
{{/if}}

</p>

<p>
    Hvis du er usikker på om du er tilbake i arbeid innen sykepengene tar slutt, er det viktig at du planlegger
    framover slik at du ikke risikerer å stå uten inntekt.
</p>


<h1>Hva kan du gjøre?</h1>

<p>
    Hvis du blir frisk og er tilbake i arbeid før sykepengene tar slutt, kan du se bort fra denne informasjonen.
</p>

<h2>
    Kan du gå tilbake til jobben din?
</h2>
<p>
    Arbeidsgiveren din skal, så langt det er mulig, tilpasse arbeidsplassen og oppgavene dine slik at du kan jobbe.
</p>
<ul>
    <li> Snakk med lederen din.</li>
    <li> Det er arbeidsgiverens ansvar å legge til rette for at du kan jobbe.</li>
    <li> Det er ditt ansvar å være med å finne løsninger slik at du kan komme tilbake til jobb.</li>
</ul>

<h2>Bør du bytte jobb?</h2>
<p> Av og til er det mulig å fungere bedre i en annen jobb enn den man ble sykmeldt fra. </p>
<ul>
    <li> Er det vanskelig for deg å utføre oppgavene du hadde før du ble syk?</li>
    <li> Er det andre forhold hos arbeidsgiveren din som gjør det vanskelig for deg å fungere i jobben?</li>
    <li> Snakk gjerne med en av våre veiledere om en ny jobb kan være bedre for deg.</li>
    <li> Du kan finne alle utlyste stillinger i landet på arbeidsplassen.no</li>
</ul>

<h2> Er du fortsatt syk? </h2>
<p> Hvis du ikke er frisk nok til å gå tilbake til jobb slik som før, kan det være riktig å søke om
    arbeidsavklaringspenger (AAP), eller en annen økonomisk støtte. Du må være forberedt på å gå ned i inntekt når
    sykepengene tar slutt, fordi andre støtter fra NAV gir mindre enn sykepenger. </p>
<ul>
    <li> Husk at du selv må søke om AAP eller annen økonomisk støtte. Dette skjer ikke automatisk.</li>
    <li> Husk å søke støtte i god tid før sykepengene tar slutt, behandlingstiden kan være lang.</li>
    <li> Husk at du også kan ha rettigheter hos forsikringsselskapet eller pensjonskassen din.</li>
    <li> Ikke alle har rett til AAP. Les mer om AAP og om hvordan du kan søke på nav.no/aap</li>
    <li> Snakk gjerne med en av våre veiledere om hva du kan gjøre hvis du fortsatt er syk.</li>
</ul>

<h1> Ta gjerne kontakt med NAV </h1>

<p>Snakk med en veileder om mulighetene dine videre, eller om du har krav på økonomisk støtte.</p>
<ul>
    <li> Ring oss på 55 55 33 33. <br/> Åpningstiden på telefon er hverdager fra klokken 09.00–15.00.</li>
    <li> Du kan besøke oss på nav.no/kontaktoss for å ta kontakt på andre måter.</li>
</ul>
<div>
    Du kan også besøke <span class="text--bold"> <a href="https://www.nav.no/syk/meroppfolging/reg/0"> https://www.nav.no/syk/meroppfolging/reg/0 </a> </span> for å be om mer veiledning.
</div>

<div style="margin: 32px 0 24px 0;">
    Vennlig hilsen <br/> NAV
</div>
    <p> Du får denne informasjonen i et brev fordi du har reservert deg mot digital kommunikasjon fra NAV. </p>
</body>
</html>
